
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'auth';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.footer{
    background: #ffffff;
    color: #000000;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.content-wrapper {
	padding: 0px 15px;
}

.card-form {
	padding: 20px;
}

.form-flex {
	display: flex;
	> .form-label {
		flex: 1;
		max-width: 100px;
		margin-right: 30px;
	}
	> .form-input {
		flex: 1;
	}
	> .form-input > label {
		margin-right: 20px;
	}
	> .form-input > label > input {
		margin-right: 10px;
	}
}

.btn-del {
	display: inline-block;
}

.card-header {
	margin-bottom: 20px;
}

.blog-width {
	padding: 20px 0.8rem;
}

.info-box-item {
	// border: 1px solid #ccc;
	// border-radius: 3px;
	// box-shadow: 0 0 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    padding: .5rem;
    min-height: 80px;
    background: #fff;
    min-height: 150px;
}

.elevation-4 {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
}

.header-title {
	margin-bottom: 30px;
	color: #333;
}

.info-box-header {
	display: block;
	// font-size: 24px;
	color: #333;
	font-weight: bold;

}

.info-box-inner {
	display: block;
}

.row-header {
	font-size: 24px;
	margin: 10px 0px;
}

.margin-0 {
	margin: 0;
}

.font-s-24 {
	font-size: 24px;
}

.font-s-28 {
	font-size: 28px;
}

.font-s-30 {
	font-size: 30px;
}

.font-w-b {
	font-weight: bold;
}

.line-h-1 {
	line-height: 1;
}

.color-ccc {
	color: #999999;
}

.margin-b-30 {
	margin-bottom: 30px;
}

.margin-b-20 {
	margin-bottom: 20px;
}


.table-header {
	padding: 5px 0px;
}

.table-header > h3 {
	font-size: 18px;
}

.nav-btn {
	display: flex;

	> a {
		margin-right: 10px;
	}
}