.auth-page {
    background: url('/images/businessLogin.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    // border: 1px solid #333;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    background-color: rgba(255,255,255, 0.9);
}

